body {
    padding-top: 0;
    margin: 0;
}

.background {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 180px;
    margin-top: 20px;
    font-size: 25px;
}

ul li a {
    text-decoration: none;
    color: rgba(255, 246, 246, 0.7);
    font-style: italic;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover {
    color: rgb(128, 134, 129);
}
#logo {
    position: static;
    width: 75px;
    height: 75px;
    float: left;
    padding-left: 4%;
}
.locations {
    text-align: center;
    margin: auto;
    z-index: 1;
}
hr {
    text-align: center;
    margin-top: 150px;
}
#loc {
    width: 50px;
    text-decoration: none;
    color: rgba(255, 246, 246, 0.7);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-left: calc(50% - 50px);
    margin-right: calc(50% - 50px);
}
